body{
    /* display: grid; */
}

#display{
    border: 1px solid red;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 300px;
}
#display2{
    border: 1px solid red;
    height: 100px;
    width: 300px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#display3{
    border: 1px solid red;
    height: 50px;
    width: 300px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}